@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #1D1B23; /* raisin_black DEFAULT */
    --card: #403E45; /* jet DEFAULT */
    --mantis: #81C26C; /* mantis DEFAULT */
    --bpink: #E75973; /* bright_pink_(crayola) DEFAULT */
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  } 

  .dark {
    --background: #1D1B23; /* raisin_black DEFAULT */
    --card: #403E45; /* jet DEFAULT */
    --mantis: #81C26C; /* mantis DEFAULT */
    --bpink: #E75973; /* bright_pink_(crayola) DEFAULT */
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-white;
  }
}
